{% extends 'base.html' %}

{% block title %}
{% endblock %}


{% block content %}
{% if user %}
    <div class="row">
        <div class="col">
            <p>Username: {{user.username}}</p>
            <p>Name: {{user.first_name}} {{user.last_name}}</p>
            <p>Email Address: {{user.email}}</p>
            <p>
                <a href="/users/{{user.username}}/feedback/add" class="btn btn-primary">Add Feedback</a>
                <button class="btn btn-danger" type="submit">Delete User</button>
            </p>
        </div>
        <hr>
    </div>
    {% if user.feedback %}
    <div class="row">
        <div class="col">
            {% for feed in user.feedback %}
            <form action="/../../feedback/{{feed.id}}/delete" method="post">
                <h4 class="d-inline">Feedback Post</h4> 
                    <a href="/../../feedback/{{feed.id}}/update" class="btn btn-sm btn-success">Edit</a>
                    <button class="btn btn-sm btn-danger"  type="submit">Delete</button>
                <p>Title: {{feed.title}}</p>
                <p>Feedback: {{feed.content}}</p>
            </form>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endif %}
{% endblock %}